<html>
    <head>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            function gameLifeComponent() {
                return { 
                    matrix: [],
                    is_started: false,
                    async initMatrix() {
                        let res = await (await fetch('/render')).json()
                        return res.matrix
                    },
                    toggleLifeInCell(i, j) {
                        this.matrix[i][j] = this.matrix[i][j] == 0 ? 1 : 0
                    },
                    startGame(matrix) {
                        this.is_started = true
                        this.gameLoop(matrix)
                    },
                    stopGame() {
                        this.is_started = false
                    },
                    gameLoop(matrix) {
                        if (this.is_started) {
                            setTimeout(async () => {
                                let new_matrix = await this.nextStep(matrix)
                                if (this.is_started) {
                                    this.matrix = new_matrix
                                    this.gameLoop(this.matrix)
                                }
                            }, 3000)
                        }
                    },
                    async nextStep(matrix) {
                        let res = await fetch("/step", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({"matrix": matrix})
                        })
                        if (!res.ok) {
                            let error = await res.json()
                            alert(error.Msg)
                            return matrix
                        }
                        let res_json = await res.json()
                        return res_json.matrix
                    } 
                }
            }

            async function nextStep(matrix) {
                let res = await fetch("/step", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({"matrix": matrix})
                })
                if (!res.ok) {
                    let error = await res.json()
                    alert(error.Msg)
                    return matrix
                }
                let res_json = await res.json()
                return res_json.matrix
            } 
            
        </script>
    </head>
    <body>
        <center class="flex flex-row pt-3">
            <div class="basis-2/3 mx-auto">
                <div>
                    <div class="font-bold tracking-wide text-2xl pb-2">
                        Conway's Game of Life
                    </div>
                    <div 
                        class = "font-light italic"
                        x-data="{message: 'Alpine.js + Go'}" 
                        x-text="message"
                    >
                    </div>
                    <br>
                </div>
                <div
                    class="pt-5"
                    x-data="gameLifeComponent()"
                    x-init="matrix = await initMatrix()"
                >
                    
                    <div class="flex flex-row pb-2">
                        <div class="flex flex-row basis-2/3 mx-auto">
                            <div class="basis-1/3">
                                <button 
                                class="px-4 py-1 mx-auto border-2 rounded border-sky-500 hover:text-white hover:bg-sky-500 transition ease-in-out delay-150"
                                x-on:click="matrix = await nextStep(matrix)"    
                                >
                                    Next step
                                </button>
                            </div>
                            <div class="basis-1/3">
                                <button 
                                    class="px-4 py-1 mx-auto border-2 rounded border-emerald-500 hover:text-white hover:bg-emerald-500 transition ease-in-out delay-150"
                                    x-show="!is_started" 
                                    x-on:click="startGame(matrix)"
                                >
                                    Start 
                                </button>
                                <button 
                                    class="px-4 py-1 mx-auto border-2 rounded border-red-500 hover:text-white hover:bg-red-500 transition ease-in-out delay-150"
                                    x-show="is_started" 
                                    x-on:click="stopGame()"
                                >
                                    Stop 
                                </button>
                            </div>
                            <div class="basis-1/3">
                                <button 
                                    class="px-4 py-1 mx-auto border-2 rounded border-slate-500 hover:text-white hover:bg-slate-500 transition ease-in-out delay-150"
                                    x-on:click="matrix = await initMatrix()"    
                                >
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row">
                    <template x-for="(row, i) in matrix">
                        <div>
                            <template x-for="(cell, j) in row">
                                <div 
                                    class="border border-stone-300 w-3 h-3"
                                    :class="cell == 1 ? 'bg-violet-600' : ''"
                                    x-on:click="toggleLifeInCell(i, j)"
                                    x-on:mouseover="$event.shiftKey ? toggleLifeInCell(i, j) : null"
                                >

                                </div>
                            </template>
                        </tr>
                    </template>
                    </table>
                </div>
            </div>
        </center>
    </body>
</html>