<html>
    <head>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script>
            async function initMatrix() {
                let res = await (await fetch('/render')).json()
                return res.matrix
            }

            async function nextStep(matrix) {
                let res = await fetch("/step", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({"matrix": matrix})
                })
                if (!res.ok) {
                    let error = await res.json()
                    alert(error.Msg)
                    return matrix
                }
                let res_json = await res.json()
                return res_json.matrix
            }
        </script>


        <style>
            .cell {
                width: 5px;
                height: 5px;
                border: 1px solid black;
                cursor: pointer;
            }

            .alive {
                background-color: brown;
            }
        </style>
    </head>
    <body>
        <center>
            <div>
                <h2>Conway's Game of Life</h2>
                <i x-data="{message: 'Alpine.js + Go'}" x-text="message"></i>
                <br>
            </div>
            <div>
                <button x-on:click="console.log('start game')">
                    Start game
                </button>
            <div 
                x-data="{ matrix: [] }"
                x-init="matrix = await initMatrix()"
            >
                <table>
                <template x-for="(row, i) in matrix">
                    <tr>
                        <template x-for="(cell, j) in row">
                            <td>
                                <div 
                                    class="cell"
                                    :class="cell == 1 ? 'alive' : ''"
                                    x-on:click="life = life == 0 ? 1 : 0; matrix[i][j] = life"
                                    x-data="{
                                        x: i,
                                        y: j,
                                        life: cell
                                    }"
                                >

                                </div>
                            </td>
                        </template>
                    </tr>
                </template>
                </table>

                <button x-on:click="matrix = await nextStep(matrix)">
                    Next step
                </button>
            </div>
        </center>
    </body>
</html>