<html>
    <head>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script>
            function gameLifeComponent() {
                return { 
                    matrix: [],
                    is_started: false,
                    async initMatrix() {
                        let res = await (await fetch('/render')).json()
                        return res.matrix
                    },
                    toggleLifeInCell(i, j) {
                        this.matrix[i][j] = this.matrix[i][j] == 0 ? 1 : 0
                    },
                    startGame(matrix) {
                        this.is_started = true
                        this.gameLoop(matrix)
                    },
                    stopGame() {
                        this.is_started = false
                    },
                    gameLoop(matrix) {
                        if (this.is_started) {
                            setTimeout(async () => {
                                let new_matrix = await this.nextStep(matrix)
                                if (this.is_started) {
                                    this.matrix = new_matrix
                                    this.gameLoop(this.matrix)
                                }
                            }, 3000)
                        }
                    },
                    async nextStep(matrix) {
                        let res = await fetch("/step", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({"matrix": matrix})
                        })
                        if (!res.ok) {
                            let error = await res.json()
                            alert(error.Msg)
                            return matrix
                        }
                        let res_json = await res.json()
                        return res_json.matrix
                    } 
                }
            }

            async function nextStep(matrix) {
                let res = await fetch("/step", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({"matrix": matrix})
                })
                if (!res.ok) {
                    let error = await res.json()
                    alert(error.Msg)
                    return matrix
                }
                let res_json = await res.json()
                return res_json.matrix
            } 
            
        </script>


        <style>
            .cell {
                width: 5px;
                height: 5px;
                border: 1px solid black;
                cursor: pointer;
            }

            .alive {
                background-color: brown;
            }
        </style>
    </head>
    <body>
        <center>
            <div>
                <h2>Conway's Game of Life</h2>
                <i x-data="{message: 'Alpine.js + Go'}" x-text="message"></i>
                <br>
            </div>
            <div 
                x-data="gameLifeComponent()"
                x-init="matrix = await initMatrix()"
            >
                <button 
                    x-on:click="matrix = await nextStep(matrix)"    
                >
                Next step
                </button>
                <button 
                    x-on:click="matrix = await initMatrix()"    
                >
                Clear
                </button>
                <div>
                    <button x-show="!is_started" x-on:click="startGame(matrix)">
                        Start 
                    </button>
                    <button x-show="is_started" x-on:click="stopGame()">
                        Stop 
                    </button>
                </div>
                <table>
                <template x-for="(row, i) in matrix">
                    <tr>
                        <template x-for="(cell, j) in row">
                            <td>
                                <div 
                                    class="cell"
                                    :class="cell == 1 ? 'alive' : ''"
                                    x-on:click="toggleLifeInCell(i, j)"
                                    x-on:mouseover="$event.shiftKey ? toggleLifeInCell(i, j) : null"
                                >

                                </div>
                            </td>
                        </template>
                    </tr>
                </template>
                </table>
            </div>
        </center>
    </body>
</html>